        nav {
        position: fixed;
        background-color: #0b2545;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        
        }

        body {
            padding-top: 56px;
            background-image: url("../images/Backgroundimage.jpg");
            background-size: cover;
        }
        nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        }
        nav li {
        margin-right: 20px;
        }
        nav a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        display: inline-block; 
        }
        nav a:hover {
        background-color: transparent;
        color: #00A8D8;
        text-decoration: underline;
        }
        nav a.active {
        background-color: #8882b4;  
        font-weight: bold;          
        }
