        nav {
        position: fixed;
        background-color: #0b2545;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        
        }

        body {
            padding-top: 56px;
            background-image: url("../images/backgroundimage.jpg");
            background-size: cover;
            background-blend-mode: blur(8px);   
        }
        nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        }
        nav li {
        margin-right: 20px;
        }
        nav a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        display: inline-block; 
        }
        nav a:hover {
        background-color: transparent;
        color: #00A8D8;
        text-decoration: underline;
        }

        nav a.active {
        background-color: #8882b4;  
        color: #ffffff;
        font-weight: bold;          
        }

        .outlinebox {
            display: block;
            width: fit-content;
            margin: 0 auto;
            margin-top:20px;
            padding: 8px 12px;
            border: 2px solid #94949c; 
            background: #8882b4;       
            border-radius: 6px;
            color: #ffffff;
            text-align: center;
            font-family: "rocky-condensed", serif;
            font-weight: 500;
            font-style: italic;
            
        }

        .center {
            display: block;
            margin-top:60px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }
        
        .p1 {
            
            margin: 16px;
            padding: 16px 180px;
            background: rgba(196, 178, 178, 0.678);
            border-radius: 8px;
            border: 1px solid rgba(255,255,255,0.06);
            color: #fff;
            
            }

            .font1 {
            font-family: "amifer", sans-serif;
            font-weight: 800;
            font-style: italic;
            }

            .font2 {
                font-family: "rocky-condensed", serif;
                font-weight: 500;
                font-style: italic;
            }
        
            .font3 {
                font-family: "private-sans", sans-serif;
                font-weight: 400;
                font-style: italic;
            }
        